::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
.videoDetails{
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  .vtitle{
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    padding-bottom: 10px;
  }
  .vdesc{
    font-family: 'Fira Sans', sans-serif;
  }
}
