<div class="container">
  <mat-toolbar color="primary" [ngClass]="{'offlineBackground': !connectionStatus}">
    <mat-toolbar-row>
        <mat-icon class="searchIcon" aria-hidden="false" aria-label="Example heart icon" (click)="scrollTo(15)">search</mat-icon>
        <input class="searchBox" [ngClass]="{'offlineBackground': !connectionStatus}" placeholder="Search ..." (keyup)="searchKeyword($event)" >
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="noVideosFound" [hidden]="videoList && videoList.length > 0">
      No Videos Found. 
    </div>
  <cdk-virtual-scroll-viewport class="searchResults" itemSize="100" (scrolledIndexChange)="scrollEvent($event)" >
    <mat-list>
      <mat-list-item *cdkVirtualFor="let video of videoList | viewedVideos" class="list" (click)="openPlayer(video)">
        <img matListAvatar src="{{video.snippet.thumbnails.default.url}}" alt="...">
        <h3 matLine class="vtitle"> {{video.snippet.title}} </h3>
        <p matLine>
          <span class='channelName'> {{video.snippet.channelTitle}} </span>
        </p>
      </mat-list-item>
    </mat-list>

  </cdk-virtual-scroll-viewport>


  
</div>
