// font-family: 'Fira Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

.container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

}
::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;

}
.searchIcon{
    margin-right: 10px;
}
.searchBox{
    width: 100%;
    height: 30px;
    padding: 4px;
    border: none;
    border-bottom: solid 2px #bbb;
    color: #fff;
    background-color : #3F51B5;
}
.searchBox::placeholder {
  color: #fff;
}
.searchBox:focus{
    outline: none;
}
.searchResults{
  overflow-y: scroll;
  height: calc(100% - 60px);
  width: 100%;
}
.list{
  margin-bottom: 28px !important;
  padding-bottom: 28px !important;
  margin-top: 10px !important;
  border-bottom: solid 1px #bbb;
}
.imgIcon{
  border-radius: 0px !important;
  width: 80px !important;
}
.vtitle{
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}
.channelName{
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;

}
